@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #3A3A3A;
}

body {
    background-color: #E5E5E5;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    height: 100vh;
}

.container-header {
    padding: 10px 0;
    margin: 10px 0;
    margin-bottom: 0;
}

h1 {
    background-color: #ebeb09e3;
    padding: 10px 20px;
    text-align: center;
    font-size: 4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#p-red {
    background-color: rgb(51, 85, 196);
    text-align: center;
    padding: 5px 0;
    font-size: 0.8rem;
    color: #E5E5E5;
}

.container-element-show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C9C9C9;
    padding: 1rem 0 ;
}

p{
    font-size: 0.9em;
}

img {
    width: 50%;
    height: 50%;
}

#desc-element {
    color: #3A3A3A;
    font-size: 1rem;
    text-align: start;
}



.container-brave {
    display: flex;
    padding: 1rem 0;
    background-color: #d6d4d4;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 1rem;
}

.brave-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
}
#btn-yes {
    margin-left: -60px;
    background-color: #5cb45c;
    color: #E5E5E5;
}

.yes-info {
    display: none;
    padding: 10px 23px;
}

label {
    font-size: 15px;
}

#username {
    padding: 3px 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.nameUser label {
    margin-right: 65px;
}

.genderUser label{
    margin-right: 30px;
}

.levelUser label  {
    margin-right: 48px;
}

.genderUser #gender,
 .levelUser #level,
 .element-user-dropdown #user-select-element {
    padding: 3px 10px;
}

.nameUser, .genderUser {
    margin-bottom: 10px;
}



.yes-info button {
    margin-top: 0.5rem;
    color: #fff;
    background-color: #5cb45c;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn-no {
    margin-left: 30px;
    background-color: #a05656;
    color: #E5E5E5;
}

#btn-yes:hover {
    background-color: #088f08;
    color: #fff;
    font-weight: 600;
   
}

.yes-info button:hover {
    color: #fff;
    background-color: #088f08;
    font-weight: 600;
}



#btn-no:hover {
    background-color: red;
    color: #fff;
    font-weight: 600;

}

#submit-user-info {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.element-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-input-interactions {
    padding: 2%;
}

em {
    padding: 1rem 0;
}


footer {
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
    background-color: #C9C9C9;
}

#bolt {
    color: #ecae10;
    text-shadow: 0.5px 0.5px 0.5px ;
}

#company-name {
    text-decoration: none;
    cursor: pointer;
}
#company-name:hover {
    font-weight: 800;
}

/* beginner challenge */
.container-user-info {
    display: none;
    padding: 1rem 0 ;
}


.container-score {
    display: none;
    /* justify-content: space-around;
    align-items: center; */
    /* padding: 1rem 0; */
    background-color: #d6d4d4;
}
.game-start-section {
    display: none;  
}

.redo-btn {
    display: none;
    width: 70%;
    margin-bottom: 50px;
}

.element-user-dropdown #user-select-element {
    padding: 0 4.5rem;
}


.game-start {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 50%; */
}

.user-side-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.cpu-side{
    padding: 20px 0;
    height: 100%;
}

.cpu-side img {
    width: 70%;
    height: 60%;
}

#user-label-description {
    margin-bottom: 5px;
}

/* #btn-go-back {
    display: none;
} */

#btn-go, #btn-go-back {
    width: 70%;
    margin-top: 10px;
    background-color: #5cb45c;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 3px;
}

#btn-go:hover, #btn-go-back:hover {
    font-weight: 600;
    background-color: #088f08;
    transition: 0.3s ease;
}





/* media query */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .container {
        width: 90%;
    }
 }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .container {
        width: 90%;
    }
    h1 {
        font-size: 3rem;
    }

    #username {
        width: 50%;
        margin-left: -2px;
    }

    .levelUser #level {
        margin-left: -10px;
    }
    .genderUser #gender {
        margin-left: -10px;
    }

    .yes-info {
        padding: 10px 15px;
    }

    .nameUser label {
        margin-right: 55px;
    }
 }


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container {
        width: 90%;
    }
    h1 {
        font-size: 1.8rem;
        padding: 20px 0;
    }
    /* .container-header {
        padding: 20px ;
    } */

    #btn-yes {
        margin-left: 0;
    }

 }






